---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$type-size-1 : 2.441rem;  // ~39.056px
$type-size-2 : 1.953rem;  // ~31.248px
$type-size-3 : 1.563rem;  // ~25.008px
$type-size-4 : 1.25rem;   // ~20px
$type-size-5 : 1rem;      // ~16px
$type-size-6 : 0.75rem;   // ~12px
$type-size-7 : 0.6875rem; // ~11px
$type-size-8 : 0.625rem;